:root {
    --back:  #0D0221;
    --green: #72D55D;
    --navg:#BFDE42;
    --white:#FFF;
}

@font-face {
    font-family: 'ba';
    src: url(fonts/BADABB__.TTF);
}

@font-face {
    font-family: 'ban';
    src: url(fonts/Bangers-Regular.ttf);
}
@font-face {
    font-family: 'get';
    src: url(fonts/get_schwifty.ttf);
}
* {
    margin: 0%;
    padding: 0%;
    font-family: 'ban';
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   background-color: var(--back);
   display: flex;
    align-self: center;


}
.s1{
    width: 100%;
    height: 1082px;
    background-image: url(assets/Group\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    width: 1368px;
    height: 91px;
    gap: 15px 246px;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--green);
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%); /* <-- this centers it */
    z-index: 1000;
}
.navdiv1{
    width: 183px;
height: 76px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.logo{
    width: 76px;
height: 76px;
aspect-ratio: 1/1;
background-image: url(assets/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
h2{
    color:var(--navg);
font-family: "get";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navdiv2{
    display: flex;
    width: 370.587px;
    height: 44.8px;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    background-color: #0D0221;
}
.navbt{
    display: flex;
    width: 119.75px;
    height: 44.8px;
    padding: 11.2px 18.4px 2.4px 18.4px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border: 2.4px solid #000;
    background: linear-gradient(180deg, #0F8 0%, #1F8757 100%);
}
h3{
    color:var(--white);
font-family: 'ban';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.navdiv3{
    width: 250px;
height: 40px;
display: flex;
flex-shrink: 0;
flex-direction: row;
justify-content: space-between;
align-items: center;
}