:root {
    --back:  #0D0221;
    --yellow: #FAD400;
    --white: #fff;
    --black: #000;
    --green: #004121;
}

@font-face {
    font-family: 'ba';
    src: url(fonts/BADABB__.TTF);
}

@font-face {
    font-family: 'ban';
    src: url(fonts/Bangers-Regular.ttf);
}
@font-face {
    font-family: 'get';
    src: url(fonts/get_schwifty.ttf);
}
* {
    margin: 0%;
    padding: 0%;
    font-family: 'ban';
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   background-color: var(--back);

}
.s1{
    width: 100%;
    height: 1082px;
    background-image: url(Group\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
}